<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="auto">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="com.android.vending.CHECK_LICENSE"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.ACCESS_MEDIA_LOCATION"/>
    <uses-permission android:name="android.permission.ACTION_OPEN_DOCUMENT_TREE"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES"/>
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO"/>
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" tools:ignore="ScopedStorage"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" tools:ignore="ScopedStorage"/>
    <uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" tools:ignore="ProtectedPermissions"/>
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" tools:ignore="QueryAllPackagesPermission"/>
    <application
        android:name=".ads.Ads"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:description="@string/app_description"
        android:screenOrientation="fullSensor"
        android:supportsRtl="true"
        android:resizeableActivity="true"
        android:enableOnBackInvokedCallback="true"
        android:appCategory="productivity"
        tools:targetApi="33"
        android:localeConfig="@xml/config_locales">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashScreenTheme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts"/>
        </activity>
        <activity
            android:name=".ui.whitelist.WhitelistActivity"
            android:label="@string/whitelist"
            android:exported="true"
            android:parentActivityName=".ui.whitelist.WhitelistActivity"/>
        <activity
            android:name=".ui.imageoptimizer.ImageOptimizerActivity"
            android:label="@string/image_optimizer"
            android:exported="true"
            android:parentActivityName=".ui.imageoptimizer.ImageOptimizerActivity"/>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:label="@string/settings"
            android:exported="true"
            android:parentActivityName=".ui.settings.SettingsActivity">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.language.LanguageActivity"
            android:label="@string/language"
            android:exported="true"
            android:parentActivityName=".ui.language.LanguageActivity"/>
        <activity
            android:name=".ui.permissions.PermissionsActivity"
            android:label="@string/permissions"
            android:exported="true"
            android:parentActivityName=".ui.permissions.PermissionsActivity"/>
        <activity
            android:name=".ui.feedback.FeedbackActivity"
            android:label="@string/feedback"
            android:exported="true"
            android:parentActivityName=".ui.feedback.FeedbackActivity"/>
        <activity
            android:name=".ui.faq.FaqActivity"
            android:label="@string/faq"
            android:exported="true"
            android:parentActivityName=".ui.faq.FaqActivity"/>
        <activity
            android:name=".ui.about.AboutActivity"
            android:label="@string/about"
            android:exported="true"
            android:parentActivityName=".ui.about.AboutActivity"/>
        <activity
            android:name=".ui.startup.StartupActivity"
            android:theme="@style/AppThemeNoActionBar"/>
        <service
            android:name="androidx.appcompat.app.AppLocalesMetadataHolderService"
            android:enabled="false"
            android:exported="false">
            <meta-data
                android:name="autoStoreLocales"
                android:value="true" />
        </service>
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-5294151573817700~8489473300"/>
        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true"/>
    </application>
</manifest>